body {
  display: flex;
  justify-content: center;
}

.input_name {
  width: 150px;
  height: 40px;
  margin-top: 300px;
  right: 580px;
  z-index: 1;
  position: absolute;
}

.save_button {
  width: 80px;
  height: 40px;
  margin-top: 303px;
  right: 480px;
  z-index: 1;
  position: absolute;
}

#score_list {
  list-style: none;
  top: 400px;
  z-index: 5;
  position: absolute;
  font-size: 20px;
  color: white;
  justify-content: center;
}
